ctrl_interface=/var/run/wpa_supplicant
ctrl_interface_group=root
ap_scan=0
network={
 key_mgmt=IEEE8021X
 eap=PEAP
 identity="domain\user.surname"
 anonymous_identity="domain\user.surname"
 password="MyAwEs0m3p4sSw0rD"
 phase1="peaplabel=0"
 phase2="auth=MSCHAPV2"
 eapol_flags=0
}
