next_color=1
viewer_size=64
viewer_text_overlay_position=0
use_background_color=false
network_type_0_interface_name=eth0
network_type_1_interface_name=eth1
network_type_2_interface_name=eth2
network_type_3_interface_name=ppp
network_type_4_interface_name=slip
network_type_5_interface_name=wlan0
network_type_6_interface_name=wlan1
network_type_7_interface_name=wlan2
viewer_type=vbar

[1]
type=fan_speed
fan_no=0
tag=
max=65,535
color=-1050256720
fill_color=1972416176

